<%- include("../components/navbar.ejs") %>
<div class="container mt-5">
    <h1>Manage Plants</h1>
    <form action="/admin/plants/" method="GET" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search plants...">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Post Name</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <% plants.forEach(function(plant) { %>
            <tr>
                <td><%= plant.postname %></td>
                <td><%= plant.username %> </td>
                <td>
                    <form action="/admin/plants/<%= plant._id %>/delete" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <a href="/admin/plants/<%= plant._id %>" class="btn btn-primary btn-sm">View Details</a>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<%- include("../components/footer.ejs") %>