<%- include("../components/navbar.ejs") %>

<main class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Manage Users</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10">

            <div class="table-responsive">
                <table class="table table-striped table-hover" id="user_table">
                    <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% users.forEach(function(user) { %>
                        <tr class="text-center align-content-center">
                            <td class="text-center align-content-center"><%= `${user.first_name} ${user.last_name}` %></td>
                            <td class="align-content-center"><%= user.username %></td>
                            <td class="align-content-center"><%= user.email %></td>
                            <td class="align-content-center">
                                <div class="alert <%= roleTypes.roleTypeToColour(user.role, 'alert-') %> my-auto"
                                     role="alert">
                                    <i class="fas fa-user<%= user.role === roleTypes.ADMIN ? '-shield' : '' %>"></i>
                                    <%= roleTypes.roleTypeToString(user.role) %>
                                </div>
                            </td>
                            <td class="actions align-content-center">
                                <a href="/admin/users/<%= user._id %>" class="btn btn-primary btn-sm w-100 py-2">View
                                    Details</a>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/javascripts/admin/users.js"></script>
</main>

<%- include("../components/footer.ejs") %>