<%- include("../components/navbar.ejs") %>
<div class="container-fluid col-lg-7 col-md-10 mt-5">

    <div class="container-fluid col-lg-10 col-md-10 mt-5">
        <form method="GET">
            <div class="row mb-3">
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="sortBy">Sort by:</label>
                        <select class="form-select" id="sortBy">
                            <option value="time">Time</option>
                            <option value="numOfComments">Number of Comments</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <label class="input-group-text" for="filterBy">Filter by:</label>
                        <select class="form-select" id="filterBy">
                            <option value="all">All</option>
                            <option value="completed">Completed</option>
                            <option value="inProgress">In Progress</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" type="submit">Apply</button>
                </div>
            </div>
        </form>
    </div>
    <% posts.forEach(post => { %>
        <div class="row mb-3 border-1 border shadow-sm rounded-3 p-4">
            <div class="col-sm-4">
                <img src="<%= post.img %>" alt="" class="w-100 object-fit-cover mh-200">
            </div>
            <div class="col-sm-8 d-flex flex-column justify-content-between align-items-start">
                <div class="d-flex justify-content-between w-100 mb-2">
                    <h3 class="m-0"> <%= post.title %></h3>
                    <span class="align-self-center"><%= post.time.toLocaleDateString() %></span>
                </div>
                <div class="fst-italic">
                    <%= post.shortDesc + "..." %>
                </div>
                <div class="d-flex justify-content-between mt-3 w-100">
                    <div class="align-self-center">
                        Identification:
                        <span class="<%= post.identification === "Completed" ? "text-success" : "text-warning" %>"><%= post.identification %></span>
                    </div>
                    <div class="btn btn-warning">Comments: <%= post.numOfComments %></div>
                    <a class="btn btn-primary" href="/plant/<%= post.plantId %>">See more</a>
                </div>

            </div>
        </div>
    <% }) %>
</div>
<%- include("../components/footer.ejs") %>