<%- include("../components/navbar") %>

<script src="/javascripts/posts/plant_details.js"></script>

<% if (plant.identification?.is_accepted) { %>
    <!-- TODO: Remove this once the actual DBPedia logic is implemented -->
    <script>
        //Simulate the loading of the DBPedia content
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {

                $('#dbPediaSpinner').collapse();

                //Randomly pick a number between 1 and 9
                const random = Math.floor(Math.random() * 9) + 1;

                //If the number is 1, show the content
                if (random <= 5) {
                    $('#dbpediaContent').collapse('show');
                }

                //If the number is 2, show the failed to retrieve message (offline)
                else if (random === 6) {
                    $('#dbPediaFailedMessage').text('Failed to retrieve information from DBPedia. Are you offline?');
                    $('#dbPediaFailed').collapse();
                }

                //If the number is 3, show the failed to retrieve message (unknown plant)
                else if (random === 7) {
                    $('#dbPediaFailedMessage').text('Failed to retrieve information from DBPedia. The plant may not be in the database.');
                    $('#dbPediaFailed').collapse();
                }

                //If the number is 4, show the failed to retrieve message (unknown error)
                else if (random === 8) {
                    $('#dbPediaFailedMessage').text('Failed to retrieve information from DBPedia. An unknown error occurred.');
                    $('#dbPediaFailed').collapse();
                }

                //If the number is 5, show the failed to retrieve message (no identification)
                else if (random === 9) {
                    $('#dbPediaFailedMessage').text('Failed to retrieve information from DBPedia. No identification has been made yet.');
                    $('#dbPediaFailed').collapse();
                }

            }, 2000);
        });
    </script>
<% } %>

<script>
    const plantID = '<%= plant._id %>';
    const userID = '<%= user.id %>';
</script>

<div class="container-fluid h-100">
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-8">
            <div class="card bg-light-subtle shadow-sm">
                <div class="card-body p-0 px-4 my-4">
                    <!-- User Info Row -->
                    <div class="border p-3">
                        <p class="p-0 m-0 align-content-center d-flex overflow-x-hidden text-nowrap">
                            <img class="rounded-5 my-auto mx-1"
                                 src="https://ui-avatars.com/api/?name=<%= `${plant.posting_user?.first_name}+${plant.posting_user?.last_name}` %>"
                                 width="50">
                            <a class="link-hover text-decoration-none fw-medium my-auto px-2"><span
                                        class="fs-5"><%= `${plant.posting_user?.first_name} ${plant.posting_user?.last_name}` %></span></a>
                        </p>
                    </div>

                    <!-- Post Name Row -->
                    <div class="mt-3 text-center">
                        <h3 class="card-title text-center align-content-center py-auto my-auto text-wrap"><%= plant.title %></h3>
                    </div>

                    <hr>

                    <!-- Carousel Row -->
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <div class="w-auto">
                                <!-- TODO: Integrate actual photo carousel -->
                                <div class="carousel slide carousel-dark" id="plantImages">
                                    <div class="carousel-indicators">
                                        <% if (plant.images?.length > 0) { %>
                                            <% plant.images.forEach((image, index) => { %>
                                                <button type="button" data-bs-target="#plantImages"
                                                        data-bs-slide-to="<%= index %>"
                                                        class="<%= index === 0 ? 'active' : '' %>"
                                                        aria-current="<%= index === 0 %>"
                                                        aria-label="Slide <%= index + 1 %>"></button>
                                            <% }) %>
                                        <% } else { %>
                                            <button type="button" data-bs-target="#plantImages" data-bs-slide-to="0"
                                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <% } %>
                                    </div>
                                    <div class="carousel-inner">
                                        <% if(plant.images?.length > 0) { %>
                                            <% plant.images.forEach((image, index) => { %>
                                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                                    <img src="data:<%= image.image_type %>;base64,<%= image.image_data %>"
                                                         height="400"
                                                         alt="Post Image">
                                                </div>
                                            <% }) %>
                                        <% } else { %>
                                            <div class="carousel-item active">
                                                <img src="https://placehold.co/600x400?text=No Images" class="img-fluid"
                                                     height="400"
                                                     alt="Post Image">
                                            </div>
                                        <% } %>
                                    </div>

                                    <button class="carousel-control-prev" type="button" data-bs-target="#plantImages"
                                            data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>

                                    <button class="carousel-control-next" type="button" data-bs-target="#plantImages"
                                            data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Date and State Row -->
                    <div class="row justify-content-center mt-3">
                        <div class="col-lg-6 align-content-center">
                            <div class="">
                                <div class="row m-0 my-auto p-0">
                                    <div class="col-12 my-auto p-0">
                                        <div class="d-flex d-inline justify-content-between">
                                            <label for="seenAt" class="col-form-label col-2 p-0">Seen:</label>

                                            <input id="seenAt" readonly
                                                   class="form-control-plaintext fw-bolder text-center text-md-start p-0"
                                                   value="<%= plant.seen_at.toLocaleDateString('en-GB', {
                                                       day: "numeric",
                                                       month: "short",
                                                       year: "numeric",
                                                       hour: "numeric",
                                                       minute: "numeric"
                                                   }) %>">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 align-content-center">
                            <div class="my-auto">
                                <div class="row m-0 my-auto p-0">
                                    <div class="col-12 my-auto p-0">
                                        <div class="d-flex d-inline  justify-content-between">
                                            <p class="m-0 p-0 me-2">Status:</p>
                                            <div class="alert <%= postStates.postStateToColor(plant.state, "alert-") %> p-0 m-0 w-100 h-auto">
                                                <p id="seenAt"
                                                   class="fw-bolder text-center p-0 m-0">
                                                    <%= postStates.postStateToString(plant.state) %>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Description Row -->
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="mt-3 bg-light">
                                <label for="postDescription" class="d-none visually-hidden">Post Description</label>
                                <textarea id="postDescription" readonly
                                          class="form-control-plaintext card-text py-auto my-auto px-2 text-wrap w-100 long-text-box"><%= plant.description %></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- Map & Location Row -->
                    <div class="row justify-content-center mt-3">
                        <div class="col-12">
                            <p>Sighted at: <span class="fw-bolder"><%= plant.location?.location_name %></span></p>

                            <div class="card">
                                <div class="card-body p-0 m-0">
                                    <div class="w-100 bg-dark-subtle align-content-center rounded-1"
                                         style="height: 200px;">
                                        <script>
                                            const postCoords = {
                                                latitude: <%= plant.location?.latitude ?? 0.0 %>,
                                                longitude: <%= plant.location?.longitude ?? 0.0 %>
                                            };
                                        </script>
                                        <div id="map" class="w-100 h-100 rounded-2">
                                            <!--                                        <p class="text-center my-auto py-auto">[Map Here]-->
                                            <!--                                            (Of <%= `${plant.location?.latitude}, ${plant.location?.longitude}` %>)</p>-->
                                            <!--                                        </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row my-3">
                        <div class="col-12 text-center">
                            <h5>Details</h5>
                        </div>
                    </div>

                    <!-- Plant Info Row -->
                    <div class="row">
                        <!-- Plant Properties -->
                        <div class="col-lg-6">
                            <div class="row my-0 py-0 pb-2">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="p-0 m-0">Height (cm):</p>
                                </div>
                                <div class="col-7">
                                    <p class="fw-bolder p-0 m-0">
                                        <%= plant.details.height %>
                                    </p>
                                </div>
                            </div>
                            <div class="row my-0 py-0 pt-1 pb-2">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="m-0">Spread (cm):</p>
                                </div>
                                <div class="col-7">
                                    <p
                                            class="fw-bolder p-0 m-0">
                                        <%= plant.details.spread %>
                                    </p>
                                </div>
                            </div>
                            <div class="row my-0 py-0 pt-1">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="m-0">Sun Exposure:</p>
                                </div>
                                <div class="col-7">
                                    <div class="d-inline-flex w-100">
                                        <p class="fw-bolder p-0 m-0 my-auto w-auto">
                                            <%= exposureTypes.exposureTypeToString(plant.details.exposure) %>
                                        </p>
                                        <!-- TODO: Change colours based on sun exposure -->

                                        <!-- Full Sun -->
                                        <span class="fa-solid <%= exposureTypes.exposureTypeToIcon(plant.details.exposure) %> px-2 my-auto"
                                              style="color: rgb(255, 155, 20)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 pt-2">
                            <div class="row my-0 py-0">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="m-0 text-lg-end">Has Flowers:</p>
                                </div>
                                <div class="col-7">
                                    <div class="alert alert-<%= (plant.details.has_flowers) ? "success" : "secondary" %> p-0 m-0 w-100 h-auto">
                                        <p class="fw-bolder text-center p-0 m-0">
                                            <%= (plant.details.has_flowers) ? "Yes" : "No" %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-0 py-0 pt-1">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="m-0 p-0 py-auto my-auto text-lg-end">Colour:</p>
                                </div>

                                <div class="col-7 justify-content-center">
                                    <div class="d-inline-flex justify-content-center w-100">
                                        <p class="fw-bolder p-0 m-0 my-auto w-auto">
                                            [Colour]
                                        </p>
                                        <!-- TODO: Set the colour of the square based on the flower colour -->
                                        <span class="fa-solid fa-square fa-2x px-2"
                                              style="color: rgb(255, 155, 20)"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-0 py-0 pt-1">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="m-0 text-lg-end">Leaves?:</p>
                                </div>
                                <div class="col-7">
                                    <!-- TODO: Change alert colour from secondary to success when the plant has leaves -->
                                    <div class="alert alert-secondary p-0 m-0 w-100 h-auto">
                                        <p
                                                class="fw-bolder p-0 m-0 text-center">
                                            <%= leafTypes.leafTypeToString(plant.details.leaf_type) %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-0 py-0 pt-1">
                                <div class="col-5 align-content-center my-auto">
                                    <p class="m-0 text-lg-end">Fruits/Seeds?:</p>
                                </div>
                                <div class="col-7">
                                    <div class="d-inline-flex w-100 justify-content-center">
                                        <p class="fw-bolder p-0 m-0 my-auto w-auto text-center">
                                            <%= seedTypes.seedTypeToString(plant.details.seed_type) %>
                                        </p>

                                        <!-- TODO: Change colours based on fruit/seed type -->
                                        <!-- Seed -->
                                        <span class="fa-solid <%= seedTypes.seedTypeToIcon(plant.details.seed_type) %> px-2 my-auto"
                                              style="color: rgb(255, 155, 20)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Identification Row -->
                    <div class="row my-3">
                        <div class="col-12 text-center">
                            <h5>Identification</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!-- TODO: Change from secondary-subtle to success-subtle when the identification is complete/accepted -->
                            <div class="card bg-<%= plant.identification.is_accepted ? "success" : "secondary" %>-subtle">
                                <div class="card-body">
                                    <% if (plant.identification?.potentials?.length === 0) { %>
                                        <div class="row" id="no_id_row">
                                            <div class="col-12">
                                                <p class="m-0 p-0 text-center">No identification has been made
                                                    yet.</p>
                                                <button class="btn btn-outline-success w-100 mt-2"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#suggestIdentificationModal">
                                                    Suggest Identification
                                                </button>
                                            </div>
                                        </div>
                                    <% } else if (plant.identification.is_accepted) { %>
                                        <div class="row pb-2">
                                            <div class="col-12">
                                                <div class="d-inline-flex justify-content-center align-content-center w-100">
                                                    <span class="fa-regular fa-circle-check fa-2x my-auto px-2"></span>
                                                    <p class="text-center my-auto p-0">
                                                        This identification has been accepted by the poster
                                                    </p>
                                                </div>
                                            </div>

                                        </div>


                                        <hr>

                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <p class="m-0 p-0">Identified as:
                                                    <span class="fw-bolder m-0 p-0"><%= plant.identification?.potentials?.at(plant.identification?.accepted_potential)?.name %></span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row pt-2">
                                            <div class="col-12">
                                                <p class="m-0 p-0 text-center">On:
                                                    <span class="fw-bolder m-0 p-0">
                                                        <%= plant.identification?.date_accepted.toLocaleDateString('en-GB', {
                                                            day: "numeric",
                                                            month: "short",
                                                            year: "numeric",
                                                            hour: "numeric",
                                                            minute: "numeric"
                                                        }) %>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row pt-2">
                                            <div class="col-12">
                                                <div class="d-flex justify-content-center align-content-center">

                                                    <p class="m-0 my-auto p-0 me-2">By:</p>

                                                    <button class="btn btn-outline-success py-1 px-2 w-100">
                                                        <p class="p-0 m-0 align-content-center justify-content-start text-center d-flex">
                                                            <img class="rounded-5 my-auto mx-1"
                                                                 src="https://ui-avatars.com/api/?name=<% `${plant.identification?.potentials?.at(plant.identification?.accepted_potential)?.suggesting_user?.first_name}+${plant.identification?.potentials?.at(plant.identification?.accepted_potential)?.suggesting_user?.last_name}` %>"
                                                                 width="20">
                                                            <span>
                                                                <%= `${plant.identification?.potentials?.at(plant.identification?.accepted_potential)?.suggesting_user?.first_name} ${plant.identification?.potentials?.at(plant.identification?.accepted_potential)?.suggesting_user?.last_name}` %>
                                                            </span>
                                                        </p>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row pt-2 mb-2 mb-lg-0">

                                            <div class="col-12">
                                                <div class="card mb-2">
                                                    <div class="card-body">
                                                        <div class="collapse show" id="dbPediaSpinner">
                                                            <div class="row justify-content-center">
                                                                <div class="col-4">
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <strong role="status">Loading...</strong>
                                                                        <div class="spinner-border text-success mx-2"
                                                                             role="status"
                                                                             aria-hidden="true"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- TODO: Remove the d-none class once the content from DBPedia has loaded -->
                                                        <div class="collapse" id="dbpediaContent">

                                                            <div class="row">
                                                                <div class="col-md-4 pb-2 pb-lg-0">
                                                                    <img class="img-fluid rounded-2"
                                                                         id="dbPediaImage"
                                                                         src="https://placehold.co/600x400"/>
                                                                </div>

                                                                <div class="col-md-8">
                                                                    <h5 class="card-title" id="dbPediaName">[Plant
                                                                        Name]</h5>
                                                                    <p class="m-0 p-0 dbpedia-info"
                                                                       id="dbPediaDescription">
                                                                        [Short Description
                                                                        Description Description Description
                                                                        Description
                                                                        Description Description Description
                                                                        Description
                                                                        Description Description Description
                                                                        Description
                                                                        Description Description Description
                                                                        Description
                                                                        Description Description Description
                                                                        Description]</p>
                                                                </div>
                                                            </div>

                                                            <div class="row justify-content-end">
                                                                <div class="col-lg-4 col-12">
                                                                    <p class="text-center text-lg-end px-2">From <a
                                                                                href="/"
                                                                                id="dbPediaLink"
                                                                                class="link-hover text-decoration-none">DBPedia</a>...
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="collapse" id="dbPediaFailed">
                                                            <div class="row justify-content-center align-items-center">
                                                                <div class="col-12 my-auto">
                                                                    <p class="text-center text-danger p-0 m-0"
                                                                       id="dbPediaFailedMessage"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-12">
                                                <p class="m-0 p-0 text-center">Disagree? Suggest an
                                                    identification:</p>
                                                <button class="btn btn-outline-success w-100 mt-2"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#suggestIdentificationModal">Suggest
                                                    Identification
                                                </button>
                                            </div>
                                        </div>

                                    <% } else { %>
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="m-0 p-0 text-center">This identification is still
                                                    pending.</p>

                                                <p class="m-0 p-0 text-center">Want to contribute to the
                                                    conversation?</p>

                                                <button class="btn btn-outline-success w-100 mt-2"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#suggestIdentificationModal">
                                                    Suggest Identification
                                                </button>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Comments Row -->
                    <div class="row my-3">
                        <div class="col-12 text-center">
                            <h5>Comments</h5>
                        </div>
                    </div>

                    <div class="container-fluid w-100 m-0 p-0">
                        <div style="max-height: 400px;"
                             class="overflow-y-scroll overflow-x-hidden w-100 card rounded-bottom-0">
                            <div class="card-body px-0 py-0" id="commentsContainer">
                                <% if (plant.comments?.length > 0) { %>
                                    <% plant.comments?.forEach((comment) => { %>
                                        <div class="row pb-1">
                                            <div class="col-12">
                                                <%- include('comment', {comment: comment}) %>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <div class="row" id="noCommentsRow">
                                        <div class="col-12 align-content-center">
                                            <p class="text-center my-auto py-3">No comments have been made
                                                yet.</p>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>


                        <!-- Add Comment Row -->
                        <div class="row mt-0 my-3">
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control rounded-top-0" placeholder="Comment"
                                           aria-label="Comment" aria-describedby="addComment" id="addCommentText">
                                    <button class="btn btn-outline-success rounded-top-0" type="button"
                                            id="addComment" onclick="addNewComment()">Add
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="modals">
    <!-- Suggest Identification Modal -->
    <div class="modal fade" id="suggestIdentificationModal" tabindex="-1"
         aria-labelledby="suggestIdentificationModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  bg-light-subtle">
                <div class="modal-body">
                    <div class="d-inline-flex justify-content-between align-content-center w-100">
                        <h5 class="modal-title text-center">Suggest Identification</h5>
                        <button type="button" class="btn-close my-auto" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <hr>

                    <div class="px-2 my-2">
                        <h6>Suggestions provided by the community:</h6>

                        <!-- TODO: Update the list of suggestions based on the database -->
                        <% if (plant.identification.potentials?.length > 0) { %>
                            <% plant.identification.potentials?.forEach((suggestion) => { %>
                                <%- include('suggestion', {suggestion: suggestion}) %>
                            <% }) %>
                        <% } else { %>
                            <div class="row" id="no-suggestions-row">
                                <div class="col-12">
                                    <p class="text-center">No suggestions have been made yet.</p>
                                </div>
                            </div>
                        <% } %>

                        <hr class="my-2">
                    </div>

                    <hr>

                    <div class="px-2">
                        <h6 class="text-center">Submit a new suggestion:</h6>

                        <div class="row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           placeholder="Plant Name"
                                           aria-label="Plant Name"
                                           aria-describedby="suggestPlantName">
                                    <button class="btn btn-outline-success" type="button"
                                            id="suggestPlantName">Suggest
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../components/footer") %>