<div class="row pt-2" id="<%= suggestion.id %>">

    <div class="col-lg-6 pb-2 pb-lg-0">
        <div class="d-flex align-content-center my-auto w-100 overflow-x-scroll">
            <p class="fw-semibold my-auto py-auto  text-nowrap py-1 w-100">
                <%= suggestion.name %></p>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="d-inline-flex justify-content-center align-content-center w-100">
            <!-- TODO: Change the colour of the arrows based on which suggestion has been voted on, and in which direction -->
            <i class="fa-solid fa-arrow-up fa-2x my-auto upvote-arrow <%= suggestion.upvoters?.includes(user.id) ? 'text-success' : 'text-muted' %>"
               onclick="upvoteSuggestion('<%= suggestion.id %>')">
            </i>

            <div class="progress-stacked w-100 my-auto mx-2">
                <div class="progress upvote-bar" role="progressbar"
                     aria-valuenow="<%= upvotesDownvotesAsAPercentage(suggestion.upvotes, suggestion.downvotes).upvote %>"
                     aria-valuemin="0" aria-valuemax="100"
                     style="width: <%= upvotesDownvotesAsAPercentage(suggestion.upvotes, suggestion.downvotes).upvote %>%">
                    <div class="progress-bar bg-success-subtle text-success-emphasis upvote-count">
                        <%= suggestion.upvotes %>
                    </div>
                </div>
                <div class="progress downvote-bar" role="progressbar"
                     aria-valuenow="<%= upvotesDownvotesAsAPercentage(suggestion.upvotes, suggestion.downvotes).downvote %>"
                     aria-valuemin="0" aria-valuemax="100"
                     style="width: <%= upvotesDownvotesAsAPercentage(suggestion.upvotes, suggestion.downvotes).downvote %>%">
                    <div class="progress-bar bg-danger-subtle text-danger-emphasis downvote-count">
                        <%= suggestion.downvotes %>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-arrow-down downvote-arrow fa-2x my-auto <%= suggestion.downvoters?.includes(user.id) ? 'text-danger' : 'text-muted' %>"
               onclick="downvoteSuggestion('<%= suggestion.id %>')">
            </i>
        </div>
    </div>
</div>